{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Mes recettes{% endblock %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block header_title %}Votre espace personnel{% endblock %}
{% block header_subtitle %}Consultez et ajoutez vos propres recettes !{% endblock %}
{% block header_tabs %}
	<li {% if action is defined and action == 'recettes' %}class="is-active"{% endif %}><a href="{{ path('mes_recettes') }}">Mes recettes</a></li>
    <li {% if action is defined and action == 'recettes_new' %}class="is-active"{% endif %}><a href="{{ path('mes_recettes_new') }}">Ajouter une recette</a></li>
{% endblock %}
{% block header_image %}{{ asset('icons/default1.jpg') }}{% endblock %}

{% block content %}
<div class="container">
    <div class="columns is-multiline">
    {% if action is defined and action == 'recettes' %}
        {% if recettes is defined %}
            {% for recette in recettes %}
                <div class="column is-4">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="{{ asset('uploads/images/'~recette.image) }}" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">{{ recette.titre }}</p>
                                    <p class="subtitle is-6"><a>@{{ recette.user.username }}</a></p>
                                </div>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <div class="card-footer-item">
                                    <span class="icon is-small" style="margin-right: 4px;">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    {{ recette.nbPersonnes }}
                            </div>
                            <div class="card-footer-item">
                                    <span class="icon is-small" style="margin-right: 4px;">
                                      <i class="fas fa-clock"></i>
                                    </span>
                                {{ recette.tempsPreparation }}
                            </div>
                            <div class="card-footer-item">
                                    <span class="icon is-small" style="margin-right: 4px;">
                                      <i class="fas fa-star"></i>
                                    </span>
                                0
                            </div>
                            <div class="card-footer-item">
                                    <span class="icon is-small" style="margin-right: 4px;">
                                      <i class="fas fa-comment"></i>
                                    </span>
                                0
                            </div>
                        </footer>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% else %}
        <form enctype="multipart/form-data" class="column is-6" action="{{ path('ajout_recette') }}" method="post" >
            <div class="field">
                <label class="label">Nom de la recette</label>
                <p class="control has-icons-left has-icons-right">
                    <input class="input {% if error is defined and error %} is-danger{% endif %}" placeholder="Titre" id="username" name="_titre" {% if last_titre is defined %}value="{{ last_titre }}"{% endif %} required>
                    <span class="icon is-small is-left">
				  <i class="fas fa-book"></i>
				</span>
                </p>
            </div>
            <div class="field">
                <label class="label">Type de recette</label>
                <div class="control has-icons-left">
                    <div class="select">
                        <select id="categorie" name="_categorie">
                            <option value="entree" selected>Entrée</option>
                            <option value="plat">Plat</option>
                            <option value="desert">Dessert</option>
                        </select>
                    </div>
                    <span class="icon is-left">
					<i class="fas fa-align-left"></i>
				</span>
                </div>
            </div>
            <div class="field">
                <label class="label">Nombre de personnes</label>
                <div class="control has-icons-left">
                    <div class="select">
                        <select id="nbPersonnes" name="_nbPersonnes">
                            {% for i in range(1,12,1) %}
                                <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <span class="icon is-left">
                    <i class="fas fa-user"></i>
                </span>
                </div>
            </div>
            <div class="field">
                <label class="label">Temps de préparation</label>
                <div class="control has-icons-left">
                    <div class="select">
                        <select id="tempsPrepa" name="_tempsPrepa">
                            {% for i in range(5,120,5) %}
                                <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <span class="icon is-left">
                    <i class="fas fa-clock"></i>
                </span>
                </div>
            </div>
            <div class="field">
                <label class="label"></label>
                <input id="new_recette_image" name="new_recette[image]" required="required" type="file">
            </div>
            {% if error is defined and error %}
                <p class="help is-danger">{{ message }}</p>
                <p class="help is-danger">{{ dump(request) }}</p>
            {% endif %}
            <hr>
            <div class="field is-grouped is-grouped-right">
                <p class="control">
                    <button type="submit" class="button is-danger">
                        Publier ma recette
                    </button>
                </p>
            </div>
        </form>
    {% endif %}
    </div>
</div>
{% endblock %}

{% block javascripts %}{{ parent() }}{% endblock %}
