{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ recette.titre }}{% endblock %}

{% block stylesheets %}{{ parent() }}{% endblock %}
{% block header_title %}{{ recette.titre }}{% endblock %}
{% block header_subtitle %}publié par<a> @{{ recette.user.username }}</a>{% endblock %}
{% block header_tabs %}
    <li class="is-active"><a href="{{ path('mes_recettes') }}">{{ recette.titre }}</a></li>
   {% if recette.user == app.user %} <li><a href="{{ path('recette_edit', {'id': recette.id}) }}">Éditer la recette</a></li> {% endif %}
{% endblock %}
{% block header_image %}
    {% if recette.image is null %}
        https://bulma.io/images/placeholders/1280x960.png
    {% else %}
        {{ asset('uploads/images/'~recette.image) }}
    {% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="columns is-multiline">
        <div class="column is-5">
            <figure class="level-item image is-4by3">
                <img src="
            {% if recette.image is null %}
                https://bulma.io/images/placeholders/1280x960.png
            {% else %}
                {{ asset('uploads/images/'~recette.image) }}
            {% endif %}
         ">
            </figure>
        </div>
        <div class="column is-4">
            <div class="box has-text-centered">
                <div>
                    <p class="heading">Type</p>
                    <p class="title">{{ recette.categorie }}</p>
                </div>
            </div>
            <div class="box has-text-centered">
                <div>
                    <p class="heading">Origine</p>
                    <p class="title">{{ recette.pays }}</p>
                </div>
            </div>
            <div class="box has-text-centered">
                <div>
                    <p class="heading">Auteur</p>
                    <p class="title">{{ recette.user.username }}</p>
                </div>
            </div>
        </div>
        <div class="column is-3">
                <div class="box has-text-centered">
                    <div>
                        <p class="heading">Nombre de personnes</p>
                        <p class="title">
                            <span class="icon is-small">
                                <i class="fas fa-user" style="margin-right: 1rem"></i>
                            </span>
                            {{ recette.nbPersonnes }}
                        </p>
                    </div>
                </div>
                <div class="box has-text-centered">
                    <div>
                        <p class="heading">Temps de préparation</p>
                        <p class="title">
                            <span class="icon is-small">
                                <i class="fas fa-stopwatch" style="margin-right: 1rem"></i>
                            </span>
                            {{ recette.tempsPreparation }}
                        </p>
                    </div>
                </div>
                <div class="box has-text-centered">
                    <div>
                        <p class="heading">Note moyenne</p>
                        <p class="title">
                            <span class="icon is-small">
                                <i class="fas fa-star" style="margin-right: 1rem"></i>
                            </span>
                            {{ recette.noteMoyenne }}
                        </p>
                    </div>
                </div>
        </div>

        <div class="column is-12"><hr></div>
        <div class="column is-5">
            <div class="box">
                <h4 class="title is-4">
                        <span class="icon">
                            <i class="fas fa-lemon"></i>
                        </span>
                    Ingrédients
                </h4>
                <table class="table is-striped is-hoverable">
                    {% for ingredient in recette.ingredients %}
                        <tr>
                            <td width="500px">{{ ingredient.nom }}</td>
                            <td>{{ ingredient.quantite }}</td>
                            <td>{{ ingredient.unite }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="column is-7">
            <div class="box">
                <h4 class="title is-4">
                        <span class="icon">
                            <i class="fas fa-play"></i>
                        </span>
                    Étapes
                </h4>
                <textarea class="textarea" rows="15" readonly>{{ recette.etapes }}</textarea>
            </div>
        </div>
        <div class="column is-12"><hr></div>
        <div class="column is-8">
            <div class="content" style="padding-left: 1rem;">
                <h4 class="title is-4">
                        <span class="icon">
                            <i class="fas fa-comment"></i>
                        </span>
                    Commentaires
                </h4>
                {% for commentaire in recette.commentaires %}
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">{{ commentaire.user.username }}</label>
                        </div>
                        <div class="field-body">
                            <div class="box {% if commentaire.user == app.user %}has-background-light{% endif %}">
                                <div class="content">
                                    {{ commentaire.commentaire }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <form action="{{ path('ajout_commentaire', {'id': recette.id}) }}" method="post">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">{{ app.user.username }}</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <textarea class="textarea" name="_comment" placeholder="Donnez votre avis sur cette recette..."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <!-- Left empty for spacing -->
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <button type="submit" class="button is-danger">
                                        Envoyer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="column is-4">
            <div class="content" style="padding-left: 1rem;">
                <p class="has-text-weight-bold has-text-centered">Notez cette recette</p>
                <p class="has-text-centered stars">
                    <a href="{{ path('ajout_note', {'id': recette.id, 'note': 1}) }}">
                        <span class="icon is-small">
                          <i class="fas fa-star"></i>
                        </span>
                    </a>
                    <a href="{{ path('ajout_note', {'id': recette.id, 'note': 2}) }}">
                        <span class="icon is-small">
                          <i class="fas fa-star"></i>
                        </span>
                    </a>
                    <a href="{{ path('ajout_note', {'id': recette.id, 'note': 3}) }}">
                        <span class="icon is-small">
                          <i class="fas fa-star"></i>
                        </span>
                    </a>
                    <a href="{{ path('ajout_note', {'id': recette.id, 'note': 4}) }}">
                        <span class="icon is-small">
                          <i class="fas fa-star"></i>
                        </span>
                    </a>
                    <a href="{{ path('ajout_note', {'id': recette.id, 'note': 5}) }}">
                        <span class="icon is-small">
                          <i class="fas fa-star"></i>
                        </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}{{ parent() }}{% endblock %}

