<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Cookbook{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('assets/bulma.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/style.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <!-- =============================== MODAL ===================================
            <div class="modal{% if error is defined %} is-active{% endif %}" id="connectionModal">
                <div class="modal-background"></div>
                <div class="modal-content">
                    <form class="modal-card" action="{{ path('login_check') }}" method="post">
                        <header class="modal-card-head has-background-danger">
                            <p class="modal-card-title has-text-white has-text-centered has-text-weight-bold">Connectez-vous</p>
                        </header>
                        <section class="modal-card-body">
                            <div class="field">
                                <label class="label">Nom d'utilisateur</label>
                                <p class="control has-icons-left has-icons-right">
                                    <input class="input {% if error is defined and error %} is-danger{% endif %}" placeholder="Utilisateur" id="username" name="_username" {% if last_username is defined %}value="{{ last_username }}"{% endif %}>
                                    <span class="icon is-small is-left">
                                  <i class="fas fa-user"></i>
                                </span>
                                </p>
                            </div>
                            <div class="field">
                                <label class="label">Mot de passe</label>
                                <p class="control has-icons-left">
                                    <input class="input{% if error is defined and error %} is-danger{% endif %}" type="password" placeholder="Mot de passe" id="password" name="_password">
                                    <span class="icon is-small is-left">
                                  <i class="fas fa-lock"></i>
                                </span>
                                </p>
                            </div>
                            {% if error is defined and error %}
                                <p class="help is-danger">Nom d'utilisateur et/ou mot de passe incorrect(s)</p>
                            {% endif %}
                            <hr>
                            <div class="field has-text-centered">
                                <p><a class="has-text-danger has-text-centered">Pas encore inscrit ?</a></p>
                            </div>
                        </section>
                        <footer class="modal-card-foot field is-grouped is-grouped-centered">
                                <p class="control">
                                    <button type="submit" class="button is-danger">
                                        Valider
                                    </button>
                                </p>
                                <p class="control" onclick="closeConnectionModal()">
                                    <a class="button is-white">
                                        Annuler
                                    </a>
                                </p>

                        </footer>
                    </form>
                </div>
                <button class="modal-close is-large" aria-label="close" onclick="closeConnectionModal()"></button>
            </div>-->

            <!-- =============================== NAVBAR =================================== -->
            <nav class="navbar is-danger is-fixed-top" role="navigation">
                <div class="navbar-brand">
                    <a class="navbar-item is-white" href="{{ path('index') }}">
                        <img src="{{ asset('icons/logo.png') }}" alt="Cookbook">
                    </a>
                    <div id="navbar-burger-id" class="navbar-burger burger" data-target="navbarExampleTransparentExample" onclick="toggleBurgerMenu()">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div id="navbar-menu-id" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="">Top recettes</a>
                    </div>
                    <div class="navbar-end">
                        {% if is_granted("ROLE_USER") %}
                            <a class="navbar-item" href="{{ path('mes_recettes') }}">Mes recettes</a>
                            <a class="navbar-item" href="">
                            <span class="icon">
                                <i class="fas fa-user"></i>
                            </span>
                                <span>
                                {{ app.user.username }}
                            </span>
                            </a>

                            <div class="navbar-item">
                                <a class="button is-white" href="{{ path('logout') }}">
                                <span class="icon">
                                    <i class="fas fa-sign-out-alt"></i>
                                </span>
                                    <span>Déconnexion</span>
                                </a>
                            </div>
                        {% else %}
                            <a class="navbar-item" href="{{ path('user_register') }}">Inscription</a>
                            <div class="navbar-item">
                                <a class="button is-white" href="{{ path('user_login') }}">
                                <span class="icon">
                                    <i class="fas fa-sign-in-alt"></i>
                                </span>
                                    <span>Connexion</span>
                                </a>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </nav>
            <section class="hero is-medium parallax-window header-background" data-parallax="scroll" data-image-src="{% block header_image %}{{ asset('icons/default2.jpg') }}{% endblock %}">
                <div class="container has-text-centered">
                    <h1 class="title has-text-white">
                        {% block header_title %}Title{% endblock %}
                    </h1>
                    <h2 class="subtitle has-text-white">
                        {% block header_subtitle %}Subtitle{% endblock %}
                    </h2>
                </div>
            </section>
            <nav class="tabs has-background-light">
                <div class="container">
                    <ul>
                        {% block header_tabs %}{% endblock %}
                    </ul>
                </div>
            </nav>

            {% block content %}{% endblock %}

            <footer class="footer is-fixed-bottom">
                <div class="container">
                    <div class="columns">
                        <div class="column is-8">
                            <h3 class="subtitle">
                            <span class="icon is-small" style="margin-right: 7px;">
                              <i class="fas fa-info"></i>
                            </span>
                                À propos
                            </h3>
                            <a href="{{ path('index') }}">Cookbook</a>
                            est un projet universitaire réalisé par
                            <strong>Florian Decayeux</strong>
                            et <strong>Clément Vacandard</strong>,
                            dans le cadre de la matière Interfaces Web
                            à l'<a href="https://www.u-picardie.fr">Université de Picardie Jules Vernes</a>.
                        </div>
                        <div class="column is-4">
                            <h3 class="subtitle">
                            <span class="icon is-small" style="margin-right: 7px;">
                              <i class="fas fa-user"></i>
                            </span>
                                Contact
                            </h3>
                            <p><a href="">florian.decayeux@gmail.com</a></p>
                            <p><a href="">clement.vacandard@gmail.com</a></p>
                            <p><a href="">contact@u-picardie.fr</a></p>
                            <br>
                            <p>
                                <span class="icon is-small">
                                  <i class="fab fa-facebook"></i>
                                </span>
                                <span class="icon is-small">
                                  <i class="fab fa-twitter"></i>
                                </span>
                                <span class="icon is-small">
                                  <i class="fab fa-youtube"></i>
                                </span>
                                <span class="icon is-small">
                                  <i class="fab fa-instagram"></i>
                                </span>
                                <span class="icon is-small">
                                  <i class="fab fa-linkedin"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="column has-text-centered has-text-grey-light">
                        <hr>
                        <p>Copyright © 2018 Université de Picardie Jules Verne - Tous droits réservés.</p>
                    </div>
                </div>
            </footer>
        {% endblock %}
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <script type="text/javascript" src="{{ asset('assets/parallax.js-1.5.0/parallax.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/script.js') }}"></script>
        {% endblock %}
    </body>
</html>
