{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block header_title %}Bienvenue sur Cookbook{% endblock %}
{% block header_subtitle %}Voici une selection des meilleures recettes de nos internautes{% endblock %}
{% block header_tabs %}
        <li {% if action is defined and action == 'top_recettes' %}class="is-active"{% endif %}><a href="{{ path('index') }}">Top recettes</a></li>
        <li {% if action is defined and action == 'top_internautes' %}class="is-active"{% endif %}><a href="{{ path('search') }}">Top internautes</a></li>
{% endblock %}
{% block header_image %}{{ asset('icons/default4.jpg') }}{% endblock %}

{% block content %}
    <div class="container">
        {% if action is defined and action == 'top_recettes' %}
        <h4 class="title is-4" style="padding-left: 1rem;">
            <span class="icon" style="margin-right: 1rem;">
                <i class="fas fa-star"></i>
            </span>
            Top Entrées
        </h4>
        <div class='carousel carousel-animated carousel-animate-slide' data-size="3">
            <div class='carousel-container'>
                {% for recette in topEntrees %}
                    <div class="carousel-item">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <a href="{{ path('recette_show', {'id': recette.id}) }}">
                                        <img src="
                                    {% if recette.image is null %}
                                        https://bulma.io/images/placeholders/1280x960.png
                                    {% else %}
                                        {{ asset('uploads/images/'~recette.image) }}
                                    {% endif %}
                                " alt="Placeholder image">
                                    </a>
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <strong>{{ recette.titre }}</strong>
                                        <p>publié par<a></a></p>
                                    </div>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <div class="card-footer-item">
                                <span class="icon is-small" style="margin-right: 4px;">
                                    <i class="fas fa-user"></i>
                                </span>
                                    {{ recette.nbPersonnes }}
                                </div>
                                <div class="card-footer-item">
                                <span class="icon is-small" style="margin-right: 4px;">
                                  <i class="fas fa-stopwatch"></i>
                                </span>
                                    {{ recette.tempsPreparation }}
                                </div>
                                <div class="card-footer-item">
                                <span class="icon is-small" style="margin-right: 4px;">
                                  <i class="fas fa-star"></i>
                                </span>
                                    {{ recette.noteMoyenne }}
                                </div>
                                <div class="card-footer-item">
                                <span class="icon is-small" style="margin-right: 4px;">
                                  <i class="fas fa-comment"></i>
                                </span>
                                    {{ recette.nbCommentaires }}
                                </div>
                            </footer>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="carousel-navigation is-centered">
                <div class="carousel-nav-left">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </div>
                <div class="carousel-nav-right">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <hr>
        <h4 class="title is-4" style="padding-left: 1rem;">
            <span class="icon" style="margin-right: 1rem;">
                <i class="fas fa-star"></i>
            </span>
            Top Plats
        </h4>
        <div class='carousel carousel-animated carousel-animate-slide' data-size="3">
            <div class='carousel-container'>
                {% for recette in topPlats %}
                    <div class="carousel-item">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <a href="{{ path('recette_show', {'id': recette.id}) }}">
                                        <img src="
                                    {% if recette.image is null %}
                                        https://bulma.io/images/placeholders/1280x960.png
                                    {% else %}
                                        {{ asset('uploads/images/'~recette.image) }}
                                    {% endif %}
                                " alt="Placeholder image">
                                    </a>
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <strong>{{ recette.titre }}</strong>
                                        <p>publié par<a></a></p>
                                    </div>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <div class="card-footer-item">
                                <span class="icon is-small" style="margin-right: 4px;">
                                    <i class="fas fa-user"></i>
                                </span>
                                    {{ recette.nbPersonnes }}
                                </div>
                                <div class="card-footer-item">
                                <span class="icon is-small" style="margin-right: 4px;">
                                  <i class="fas fa-stopwatch"></i>
                                </span>
                                    {{ recette.tempsPreparation }}
                                </div>
                                <div class="card-footer-item">
                                <span class="icon is-small" style="margin-right: 4px;">
                                  <i class="fas fa-star"></i>
                                </span>
                                    {{ recette.noteMoyenne }}
                                </div>
                                <div class="card-footer-item">
                                <span class="icon is-small" style="margin-right: 4px;">
                                  <i class="fas fa-comment"></i>
                                </span>
                                    {{ recette.nbCommentaires }}
                                </div>
                            </footer>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="carousel-navigation is-centered">
                <div class="carousel-nav-left">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </div>
                <div class="carousel-nav-right">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <hr>
        <h4 class="title is-4" style="padding-left: 1rem;">
            <span class="icon" style="margin-right: 1rem;">
                <i class="fas fa-star"></i>
            </span>
            Top Desserts
        </h4>
        <div class='carousel carousel-animated carousel-animate-slide' data-size="3">
            <div class='carousel-container'>
                {% for recette in topDesserts %}
                    <div class="carousel-item">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <a href="{{ path('recette_show', {'id': recette.id}) }}">
                                        <img src="
                                    {% if recette.image is null %}
                                        https://bulma.io/images/placeholders/1280x960.png
                                    {% else %}
                                        {{ asset('uploads/images/'~recette.image) }}
                                    {% endif %}
                                " alt="Placeholder image">
                                    </a>
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <strong>{{ recette.titre }}</strong>
                                        <p>publié par<a></a></p>
                                    </div>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <div class="card-footer-item">
                                <span class="icon is-small" style="margin-right: 4px;">
                                    <i class="fas fa-user"></i>
                                </span>
                                    {{ recette.nbPersonnes }}
                                </div>
                                <div class="card-footer-item">
                                <span class="icon is-small" style="margin-right: 4px;">
                                  <i class="fas fa-stopwatch"></i>
                                </span>
                                    {{ recette.tempsPreparation }}
                                </div>
                                <div class="card-footer-item">
                                <span class="icon is-small" style="margin-right: 4px;">
                                  <i class="fas fa-star"></i>
                                </span>
                                    {{ recette.noteMoyenne }}
                                </div>
                                <div class="card-footer-item">
                                <span class="icon is-small" style="margin-right: 4px;">
                                  <i class="fas fa-comment"></i>
                                </span>
                                    {{ recette.nbCommentaires }}
                                </div>
                            </footer>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="carousel-navigation is-centered">
                <div class="carousel-nav-left">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </div>
                <div class="carousel-nav-right">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        {% elseif action is defined and action == 'top_internautes' %}
            <table class="table is-striped is-hoverable">
                <thead>
                <tr>
                    <th width="300px">Nom</th>
                    <th>Quantité</th>
                    <th>Unité</th>
                    <th></th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th width="300px"></th>
                    <th></th>
                    <th></th>
                    <th>
                        <div class="button" onclick="addIngredientNode()">
                                      <span class="icon is-left">
                                        <i class="fas fa-plus"></i>
                                      </span>
                        </div>
                    </th>
                </tr>
                </tfoot>
                <tbody id="ingredients">
                <tr>
                    <td><input type='text' class='input' placeholder='Salade, tomate, oignon, ...' name='ingredients[0][]'></td>
                    <td><input type='number' min='0' value='0' class='input' name='ingredients[0][]'></td>
                    <td><input type='text' class='input' placeholder='kg, ...' name='ingredients[0][]'></td>
                    <td>
                        <div class="button" onclick="deleteIngredientNode(this)">
                                  <span class="icon is-left">
                                    <i class="fas fa-minus"></i>
                                  </span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/bulma-carousel.min.js') }}"></script>
    <script>let carousels = bulmaCarousel.attach();</script>
{% endblock %}

