{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block content %}
	<div class="container">
        {% if users is defined %}
            {% for user in users %}
				<tr>
					<td >{{user.username}}</td>
				</tr>
            {% endfor %}
        {% endif %}

        {% if user is defined %}
			<div class="createdUser">
				<span>L'utilisateur : {{user.username}} a bien été créé</span>

			</div>
        {% endif %}


        {% if form is defined %}
            {{ form_start(form) }}
			<!-- {{ form_label(form.password, 'test', { 'label_attr': {'class': 'MYCLASSFOR_LABEL'} }) }} -->
            {{ form_widget(form) }}
			<input class="button" type="submit" value="Créer" />
            {{ form_end(form) }}
        {% endif %}
	</div>
{% endblock %}

{% block javascripts %}{{ parent() }}{% endblock %}
