{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ user.username }}{% endblock %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block header_title %}Page de {{ user.username }}{% endblock %}
{% block header_subtitle %}{{ recettes|length }} recette(s){% endblock %}
{% block header_tabs %}
	<li class="is-active"><a href="">Recettes</a></li>
{% endblock %}
{% block header_image %}{{ asset('icons/default1.jpg') }}{% endblock %}

{% block content %}
	<div class="container">
		{% if recettes is defined %}
			<div class="columns is-multiline">
				{% for recette in recettes %}
					<div class="column is-4">
						<div class="card">
							<div class="card-image">
								<figure class="image is-4by3">
									<a href="{{ path('recette_show', {'id': recette.id}) }}">
										<img src="
									{% if recette.image is null %}
										https://bulma.io/images/placeholders/1280x960.png
									{% else %}
										{{ asset('uploads/images/'~recette.image) }}
									{% endif %}
								" alt="Placeholder image">
									</a>
								</figure>
							</div>
							<div class="card-content">
								<div class="media">
									<div class="media-content">
										<p class="title is-4">{{ recette.titre }}</p>
										<p class="subtitle is-6">par<a> @{{ recette.user.username }}</a></p>
										<p class="subtitle is-6 has-text-right">
											<span class="tag is-light">{{ recette.categorie }}</span>
											<span class="tag is-light">{{ recette.pays }}</span>
										</p>
									</div>
								</div>
							</div>
							<footer class="card-footer">
								<div class="card-footer-item">
								<span class="icon is-small" style="margin-right: 4px;">
									<i class="fas fa-user"></i>
								</span>
									{{ recette.nbPersonnes }}
								</div>
								<div class="card-footer-item">
								<span class="icon is-small" style="margin-right: 4px;">
								  <i class="fas fa-stopwatch"></i>
								</span>
									{{ recette.tempsPreparation }}
								</div>
								<div class="card-footer-item">
								<span class="icon is-small" style="margin-right: 4px;">
								  <i class="fas fa-star"></i>
								</span>
									{{ recette.noteMoyenne }}
								</div>
								<div class="card-footer-item">
								<span class="icon is-small" style="margin-right: 4px;">
								  <i class="fas fa-comment"></i>
								</span>
									{{ recette.nbCommentaires }}
								</div>
							</footer>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block javascripts %}{{ parent() }}{% endblock %}
